body {
    color: #444;
    /*color: #888*/
    font-family: Helvetica, Arial , sans-serif;
}

header {
    background-color: #DBDBDB;
    padding: 20px;
    border-bottom: solid 10px #444;
}

header .page-header {
    border-bottom-style: none;
}

#logo {
    width: 100px;
    float: left;
    margin-top: -10px;
    margin-right: 40px;
    margin-bottom: 15px;
}

header h1 {
    font-family: ChunkFiveRoman, Helvetica, Arial , sans-serif;
    font-weight: bold;
}

header h5 {
    color: #888;
    font-style: italic;
}

#teaser {
    padding: 20px;
    text-align: center;
}

#teaser h1 {
    font-family: ChunkFiveRoman, Helvetica, Arial , sans-serif;
    font-weight: bold;
}

#teaser a {
    font-size: 18px;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}

#programma li {
    margin-top: 5px;
    margin-bottom: 5px;
}

#map-canvas {
    width: 600px;
    height: 300px;
}

#partners img {
    width: 150px;
    height: auto;
    padding: 20px;
}

footer {
    background-color: #292929;
    color: #888
}

.staff {
    padding: 5px;
}

.staff-img {
    width: 170px;
    height: 170px;
    border-radius: 6px;
    border: solid 1px black;
}

/* Medias */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
}

@media (max-width: 1024px) {
}

@media (max-width: 767px) {
}

@media (max-width: 479px) {
}
